$min-phone-width: 320px;
$max-phone-width: 384px;
$max-desktop-width: 100%;

$touchButtonMinimumSize: 50px;

$pageMargin-phone: 10px;
$pageMargin-tablet: 16px;
$pageMargin-desktop: 60px;

$input-width: 81%;
